@font-face {
    font-family: "icons";
    src: url("./icons.eot?af6620a397a57ce17dec9ca540d2c204#iefix") format("embedded-opentype"),
url("./icons.woff2?af6620a397a57ce17dec9ca540d2c204") format("woff2"),
url("./icons.woff?af6620a397a57ce17dec9ca540d2c204") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cargo-ship-50:before {
    content: "\f101";
}
.icon-cpu:before {
    content: "\f102";
}
.icon-disk:before {
    content: "\f103";
}
.icon-kubernetes:before {
    content: "\f104";
}
.icon-linux:before {
    content: "\f105";
}
.icon-memory:before {
    content: "\f106";
}
.icon-triangle-marker:before {
    content: "\f107";
}
.icon-ubuntu:before {
    content: "\f108";
}
