@font-face {
    font-family: "icons";
    src: url("./icons.eot?889c6baaa49543b9e096d59f867a2bb3#iefix") format("embedded-opentype"),
url("./icons.woff2?889c6baaa49543b9e096d59f867a2bb3") format("woff2"),
url("./icons.woff?889c6baaa49543b9e096d59f867a2bb3") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-about-50:before {
    content: "\f101";
}
.icon-approval-50:before {
    content: "\f102";
}
.icon-birdie:before {
    content: "\f103";
}
.icon-bitbucket-50-2:before {
    content: "\f104";
}
.icon-bitbucket-50:before {
    content: "\f105";
}
.icon-calendar-50:before {
    content: "\f106";
}
.icon-canary-checker:before {
    content: "\f107";
}
.icon-cancel-50:before {
    content: "\f108";
}
.icon-cargo-ship-50:before {
    content: "\f109";
}
.icon-cd-50:before {
    content: "\f10a";
}
.icon-checked-50:before {
    content: "\f10b";
}
.icon-cluster:before {
    content: "\f10c";
}
.icon-commit-git-50-2:before {
    content: "\f10d";
}
.icon-commit-git-50-3:before {
    content: "\f10e";
}
.icon-commit-git-50:before {
    content: "\f10f";
}
.icon-commit:before {
    content: "\f110";
}
.icon-compare-git-50:before {
    content: "\f111";
}
.icon-core:before {
    content: "\f112";
}
.icon-cpu:before {
    content: "\f113";
}
.icon-dashboard-50-2:before {
    content: "\f114";
}
.icon-dashboard-50:before {
    content: "\f115";
}
.icon-disk:before {
    content: "\f116";
}
.icon-do-not-disturb-50:before {
    content: "\f117";
}
.icon-docker-50-2:before {
    content: "\f118";
}
.icon-docker-50-3:before {
    content: "\f119";
}
.icon-ethernet-settings-50:before {
    content: "\f11a";
}
.icon-fires-50-2:before {
    content: "\f11b";
}
.icon-fires-50:before {
    content: "\f11c";
}
.icon-geography-50-2:before {
    content: "\f11d";
}
.icon-geography-50-3:before {
    content: "\f11e";
}
.icon-geography-50:before {
    content: "\f11f";
}
.icon-git-50:before {
    content: "\f120";
}
.icon-git:before {
    content: "\f121";
}
.icon-github-50-2:before {
    content: "\f122";
}
.icon-github-50-3:before {
    content: "\f123";
}
.icon-github-50:before {
    content: "\f124";
}
.icon-google-alerts-50:before {
    content: "\f125";
}
.icon-grafana:before {
    content: "\f126";
}
.icon-guarantee-50:before {
    content: "\f127";
}
.icon-hdd-50:before {
    content: "\f128";
}
.icon-heart:before {
    content: "\f129";
}
.icon-heartline:before {
    content: "\f12a";
}
.icon-heavy-rain-50:before {
    content: "\f12b";
}
.icon-helm-icon-50:before {
    content: "\f12c";
}
.icon-high-priority-50:before {
    content: "\f12d";
}
.icon-hub-50:before {
    content: "\f12e";
}
.icon-idea-50:before {
    content: "\f12f";
}
.icon-idea:before {
    content: "\f130";
}
.icon-individual-server-50:before {
    content: "\f131";
}
.icon-information-50:before {
    content: "\f132";
}
.icon-input-50:before {
    content: "\f133";
}
.icon-json-50-2:before {
    content: "\f134";
}
.icon-json-50:before {
    content: "\f135";
}
.icon-karma:before {
    content: "\f136";
}
.icon-kibana:before {
    content: "\f137";
}
.icon-kubernetes:before {
    content: "\f138";
}
.icon-light-rain-50:before {
    content: "\f139";
}
.icon-linux:before {
    content: "\f13a";
}
.icon-low-priority-50:before {
    content: "\f13b";
}
.icon-memory-slot-50-2:before {
    content: "\f13c";
}
.icon-memory-slot-50:before {
    content: "\f13d";
}
.icon-memory:before {
    content: "\f13e";
}
.icon-merge-git-50-2:before {
    content: "\f13f";
}
.icon-merge-git-50-3:before {
    content: "\f140";
}
.icon-merge-git-50-4:before {
    content: "\f141";
}
.icon-merge-git-50-5:before {
    content: "\f142";
}
.icon-merge-git-50:before {
    content: "\f143";
}
.icon-motherboard-50:before {
    content: "\f144";
}
.icon-new-document-50:before {
    content: "\f145";
}
.icon-node:before {
    content: "\f146";
}
.icon-octocat-50-2:before {
    content: "\f147";
}
.icon-octocat-50:before {
    content: "\f148";
}
.icon-ok-50:before {
    content: "\f149";
}
.icon-openconnect-50:before {
    content: "\f14a";
}
.icon-openid-50:before {
    content: "\f14b";
}
.icon-private-50:before {
    content: "\f14c";
}
.icon-process-50:before {
    content: "\f14d";
}
.icon-processor-50-2:before {
    content: "\f14e";
}
.icon-processor-50-3:before {
    content: "\f14f";
}
.icon-processor-50:before {
    content: "\f150";
}
.icon-prometheus:before {
    content: "\f151";
}
.icon-pull-request-50-2:before {
    content: "\f152";
}
.icon-pull-request-50-3:before {
    content: "\f153";
}
.icon-pull-request-50:before {
    content: "\f154";
}
.icon-rain-50:before {
    content: "\f155";
}
.icon-rainfall-50:before {
    content: "\f156";
}
.icon-ram:before {
    content: "\f157";
}
.icon-router-50:before {
    content: "\f158";
}
.icon-safe:before {
    content: "\f159";
}
.icon-security-ssl-50:before {
    content: "\f15a";
}
.icon-security-wi-fi-50:before {
    content: "\f15b";
}
.icon-server:before {
    content: "\f15c";
}
.icon-ship-wheel-50:before {
    content: "\f15d";
}
.icon-smile:before {
    content: "\f15e";
}
.icon-snow-50:before {
    content: "\f15f";
}
.icon-snow-storm-50:before {
    content: "\f160";
}
.icon-speech-bubble-50:before {
    content: "\f161";
}
.icon-square:before {
    content: "\f162";
}
.icon-ssd-50:before {
    content: "\f163";
}
.icon-storage:before {
    content: "\f164";
}
.icon-storm-50:before {
    content: "\f165";
}
.icon-stormy-weather-50:before {
    content: "\f166";
}
.icon-summer-50-2:before {
    content: "\f167";
}
.icon-summer-50:before {
    content: "\f168";
}
.icon-tag-window-50:before {
    content: "\f169";
}
.icon-threat:before {
    content: "\f16a";
}
.icon-tick-box-50:before {
    content: "\f16b";
}
.icon-toolbox-50:before {
    content: "\f16c";
}
.icon-torrential-rain-50:before {
    content: "\f16d";
}
.icon-triangle-marker:before {
    content: "\f16e";
}
.icon-tsunami-50:before {
    content: "\f16f";
}
.icon-ubuntu:before {
    content: "\f170";
}
.icon-unavailable-50:before {
    content: "\f171";
}
.icon-vip-50:before {
    content: "\f172";
}
.icon-vmware-50:before {
    content: "\f173";
}
.icon-webhook-50:before {
    content: "\f174";
}
.icon-wet-50:before {
    content: "\f175";
}
.icon-wind-50:before {
    content: "\f176";
}
.icon-windy-weather-50:before {
    content: "\f177";
}
.icon-winter-50-2:before {
    content: "\f178";
}
.icon-winter-50:before {
    content: "\f179";
}
.icon-workspace-50:before {
    content: "\f17a";
}
